.acc_right_container {
    display: flex;
    justify-content: center;
    width: 75vw;
}

.acc_right_container_cart {
    width: 95%;

}

.acc_cuntent {
    background-color: rgb(255, 255, 255);
    padding-top: 10px;

}

.acc_cuntent>p {
    padding: 10px;
    background-color: rgb(238, 250, 255);
    border-radius: 10px;
}

.acc_cuntent>div {
    padding: 10px;
    background-color: rgb(238, 250, 255);
    border-radius: 10px;
}

.icon_text{
    display: flex;
    justify-content: space-between;

}
.icon_text>.icon {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
} 
input{
    width: 30px;
}

 .icon_text > label{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;

}