.flex {
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Program_container {
    width: 75%;
    text-align: center;
    padding: 50px;
}

@media screen and (max-width: 480px) {

    .Program_container {
        width: 100%;
    }
}