body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  background-color: rgb(23, 143, 195);
  color: white;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.nav-link ul{
  display: flex;
  list-style: none;
}
.nav-link ul li{
  padding:0 20px;
  cursor: pointer;
}
.logo{
  display: flex;
  align-items: center;
  padding-left: 20px;
}